html {
  overflow-y: scroll;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: $sg-base-font;
  font-size: 62.5%;
  background: $sg-white;
  color: $sg-black;
  @media #{$sg-mq-max-md} {
    font-size: 53.5%;
  }
  @media #{$sg-mq-min-lg} {
    font-size: 71.5%;
  }
  &.sg-sample {
    overflow-y: auto;
  }
}
body {
  @include sg-fontsize-7;
  margin: 20px;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
  margin: 0 0 $sg-paragraph-margin;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: $sg-orangered;
}

.h1,
.fontsize1 {
  @include sg-fontsize-1;
}
.h2,
.fontsize2 {
  @include sg-fontsize-2;
}
.h3,
.fontsize3 {
  @include sg-fontsize-3;
}
.h4,
.fontsize4 {
  @include sg-fontsize-4;
}
.h5,
.fontsize5 {
  @include sg-fontsize-5;
}
.h6,
.fontsize6 {
  @include sg-fontsize-6;
}
.h7,
.fontsize7 {
  @include sg-fontsize-7;
}
.fontsize8 {
  @include sg-fontsize-8;
}
.fontsize9 {
  @include sg-fontsize-9;
}
.h1, .h2, .h3, .h4 {
  font-family: $sg-highlight-font;
  font-weight: normal;
}
