%grid {
  @include sg-grid-row;
  @media #{$sg-mq-min-lg} {
    margin-left: -1*$sg-grid-gutter-lg
  }
  @media #{$sg-mq-min-xl} {
    margin-left: -1*$sg-grid-gutter-xl;
  }
  @media #{$sg-mq-max-md} {
    margin-left: -1*$sg-grid-gutter-md;
  }
  @media #{$sg-mq-max-sm} {
    margin-left: -1*$sg-grid-gutter-sm;
  }
  @media #{$sg-mq-max-xs} {
    margin-left: -1*$sg-grid-gutter-xs;
  }
}
%grid-col {
  @include sg-grid-col;
  @media #{$sg-mq-min-lg} {
    padding-left: $sg-grid-gutter-lg;
  }
  @media #{$sg-mq-min-xl} {
    padding-left: $sg-grid-gutter-xl;
  }
  @media #{$sg-mq-max-md} {
    padding-left: $sg-grid-gutter-md;
  }
  @media #{$sg-mq-max-sm} {
    padding-left: $sg-grid-gutter-sm;
  }
  @media #{$sg-mq-max-xs} {
    padding-left: $sg-grid-gutter-xs;
  }
}

%center-grid {
  text-align: center;
  justify-content: center;
}
%right-grid {
  text-align: right;
  justify-content: flex-end;
}

%top-grid {
  align-items: flex-start;
}

%middle-grid {
  align-items: center;
}
%middle-grid-col {
  vertical-align: middle;
}

%baseline-grid {
  align-items: baseline;
}
%baseline-grid-col {
  vertical-align: baseline;
}

%bottom-grid {
  align-items: flex-end;
}
%bottom-grid-col {
  vertical-align: bottom;
}
