// WARNING: don't edit icons.scss!
// use gulp and icons.ect to generate it

@include sg-fontface(sg-icons, sg-icons);

$icon-alert: "\E001";
$icon-alignment-align: "\E002";
$icon-alignment-aligned-to: "\E003";
$icon-alignment-unalign: "\E004";
$icon-arrow-down: "\E005";
$icon-arrow-left: "\E006";
$icon-arrow-right: "\E007";
$icon-arrow-small-down: "\E008";
$icon-arrow-small-left: "\E009";
$icon-arrow-small-right: "\E00A";
$icon-arrow-small-up: "\E00B";
$icon-arrow-up: "\E00C";
$icon-beer: "\E00D";
$icon-book: "\E00E";
$icon-bookmark: "\E00F";
$icon-briefcase: "\E010";
$icon-broadcast: "\E011";
$icon-browser: "\E012";
$icon-bug: "\E013";
$icon-calendar: "\E014";
$icon-check: "\E015";
$icon-checklist: "\E016";
$icon-chevron-down: "\E017";
$icon-chevron-left: "\E018";
$icon-chevron-right: "\E019";
$icon-chevron-up: "\E01A";
$icon-circle-slash: "\E01B";
$icon-circuit-board: "\E01C";
$icon-clippy: "\E01D";
$icon-clock: "\E01E";
$icon-cloud-download: "\E01F";
$icon-cloud-upload: "\E020";
$icon-code: "\E021";
$icon-color-mode: "\E022";
$icon-comment-discussion: "\E023";
$icon-comment: "\E024";
$icon-credit-card: "\E025";
$icon-dash: "\E026";
$icon-dashboard: "\E027";
$icon-database: "\E028";
$icon-device-camera-video: "\E029";
$icon-device-camera: "\E02A";
$icon-device-desktop: "\E02B";
$icon-device-mobile: "\E02C";
$icon-diff-added: "\E02D";
$icon-diff-ignored: "\E02E";
$icon-diff-modified: "\E02F";
$icon-diff-removed: "\E030";
$icon-diff-renamed: "\E031";
$icon-diff: "\E032";
$icon-ellipsis: "\E033";
$icon-eye: "\E034";
$icon-file-binary: "\E035";
$icon-file-code: "\E036";
$icon-file-directory: "\E037";
$icon-file-media: "\E038";
$icon-file-pdf: "\E039";
$icon-file-submodule: "\E03A";
$icon-file-symlink-directory: "\E03B";
$icon-file-symlink-file: "\E03C";
$icon-file-text: "\E03D";
$icon-file-zip: "\E03E";
$icon-flame: "\E03F";
$icon-fold: "\E040";
$icon-gear: "\E041";
$icon-gift: "\E042";
$icon-gist-secret: "\E043";
$icon-gist: "\E044";
$icon-git-branch: "\E045";
$icon-git-commit: "\E046";
$icon-git-compare: "\E047";
$icon-git-merge: "\E048";
$icon-git-pull-request: "\E049";
$icon-globe: "\E04A";
$icon-graph: "\E04B";
$icon-heart: "\E04C";
$icon-history: "\E04D";
$icon-home: "\E04E";
$icon-horizontal-rule: "\E04F";
$icon-hourglass: "\E050";
$icon-hubot: "\E051";
$icon-inbox: "\E052";
$icon-info: "\E053";
$icon-issue-closed: "\E054";
$icon-issue-opened: "\E055";
$icon-issue-reopened: "\E056";
$icon-jersey: "\E057";
$icon-jump-down: "\E058";
$icon-jump-left: "\E059";
$icon-jump-right: "\E05A";
$icon-jump-up: "\E05B";
$icon-key: "\E05C";
$icon-keyboard: "\E05D";
$icon-law: "\E05E";
$icon-light-bulb: "\E05F";
$icon-link-external: "\E060";
$icon-link: "\E061";
$icon-list-ordered: "\E062";
$icon-list-unordered: "\E063";
$icon-location: "\E064";
$icon-lock: "\E065";
$icon-logo-github: "\E066";
$icon-mail-read: "\E067";
$icon-mail-reply: "\E068";
$icon-mail: "\E069";
$icon-mark-github: "\E06A";
$icon-markdown: "\E06B";
$icon-megaphone: "\E06C";
$icon-mention: "\E06D";
$icon-microscope: "\E06E";
$icon-milestone: "\E06F";
$icon-mirror: "\E070";
$icon-mortar-board: "\E071";
$icon-move-down: "\E072";
$icon-move-left: "\E073";
$icon-move-right: "\E074";
$icon-move-up: "\E075";
$icon-mute: "\E076";
$icon-no-newline: "\E077";
$icon-octoface: "\E078";
$icon-organization: "\E079";
$icon-package: "\E07A";
$icon-paintcan: "\E07B";
$icon-pencil: "\E07C";
$icon-person: "\E07D";
$icon-pin: "\E07E";
$icon-playback-fast-forward: "\E07F";
$icon-playback-pause: "\E080";
$icon-playback-play: "\E081";
$icon-playback-rewind: "\E082";
$icon-plug: "\E083";
$icon-plus: "\E084";
$icon-podium: "\E085";
$icon-primitive-dot: "\E086";
$icon-primitive-square: "\E087";
$icon-pulse: "\E088";
$icon-puzzle: "\E089";
$icon-question: "\E08A";
$icon-quote: "\E08B";
$icon-radio-tower: "\E08C";
$icon-repo-clone: "\E08D";
$icon-repo-force-push: "\E08E";
$icon-repo-forked: "\E08F";
$icon-repo-pull: "\E090";
$icon-repo-push: "\E091";
$icon-repo: "\E092";
$icon-rocket: "\E093";
$icon-rss: "\E094";
$icon-ruby: "\E095";
$icon-screen-full: "\E096";
$icon-screen-normal: "\E097";
$icon-search: "\E098";
$icon-server: "\E099";
$icon-settings: "\E09A";
$icon-sign-in: "\E09B";
$icon-sign-out: "\E09C";
$icon-split: "\E09D";
$icon-squirrel: "\E09E";
$icon-star: "\E09F";
$icon-steps: "\E0A0";
$icon-stop: "\E0A1";
$icon-sync: "\E0A2";
$icon-tag: "\E0A3";
$icon-telescope: "\E0A4";
$icon-terminal: "\E0A5";
$icon-three-bars: "\E0A6";
$icon-tools: "\E0A7";
$icon-trashcan: "\E0A8";
$icon-triangle-down: "\E0A9";
$icon-triangle-left: "\E0AA";
$icon-triangle-right: "\E0AB";
$icon-triangle-up: "\E0AC";
$icon-unfold: "\E0AD";
$icon-unmute: "\E0AE";
$icon-versions: "\E0AF";
$icon-x: "\E0B0";
$icon-zap: "\E0B1";
