// grids
@mixin sg-grid-row($gutter:$sg-grid-gutter, $valign:stretch) {
  @include sg-noGap();
  margin: 0 0 0 -1*$gutter;
  box-sizing: border-box;
  // flexbox:
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: $valign;
}
@mixin sg-grid-col($gutter:$sg-grid-gutter, $valign:top) {
  @include sg-reGap();
  padding: 0 0 0 $gutter;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: $valign;
  text-align: left;
}
@mixin sg-flex-wrapper($direction:row) {
  display: flex;
  flex-direction: $direction;
}
@mixin sg-flex-item($grow:1, $shrink:1, $basis:auto) {
  flex: $grow $shrink $basis;
}

// fonts
@mixin sg-fontsmoothing-grayscale {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
@mixin sg-fontsmoothing-subpixel {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: subpixel-antialiased;
}
@mixin sg-fontface($name, $family, $weight:normal, $style:normal) {
  @font-face {
    font-family: "#{$family}";
    src: url("/living-styleguide/fonts/#{$family}-#{$weight}.eot");
    src: local("#{$name}"),
    url("/living-styleguide/fonts/#{$family}-#{$weight}.eot?#iefix") format("embedded-opentype"),
    url("/living-styleguide/fonts/#{$family}-#{$weight}.woff") format("woff"),
    url("/living-styleguide/fonts/#{$family}-#{$weight}.ttf") format("truetype"),
    url("/living-styleguide/fonts/#{$family}-#{$weight}.svg##{$family}") format("svg");
    font-weight: $weight;
    font-style: $style;
  }
}
@mixin sg-fontsize($fontsize:$sg-base-fontsize, $lineheight:$sg-base-lineheight) {
  font-size: $fontsize;
  font-size: ($fontsize / 10px) + rem;
  line-height: $lineheight / $fontsize;
}
@mixin sg-fontsize-0 {
  @include sg-fontsize($sg-fontsize-0, $sg-lineheight-0);
}
@mixin sg-fontsize-1 {
  @include sg-fontsize($sg-fontsize-1, $sg-lineheight-1);
}
@mixin sg-fontsize-2 {
  @include sg-fontsize($sg-fontsize-2, $sg-lineheight-2);
}
@mixin sg-fontsize-s2 {
  @include sg-fontsize($sg-fontsize-3, $sg-lineheight-3);
}
@mixin sg-fontsize-3 {
  @include sg-fontsize($sg-fontsize-3, $sg-lineheight-3);
}
@mixin sg-fontsize-4 {
  @include sg-fontsize($sg-fontsize-4, $sg-lineheight-4);
}
@mixin sg-fontsize-5 {
  @include sg-fontsize($sg-fontsize-5, $sg-lineheight-5);
}
@mixin sg-fontsize-6 {
  @include sg-fontsize($sg-fontsize-6, $sg-lineheight-6);
}
@mixin sg-fontsize-7 {
  @include sg-fontsize($sg-fontsize-7, $sg-lineheight-7);
}
@mixin sg-fontsize-8 {
  @include sg-fontsize($sg-fontsize-8, $sg-lineheight-8);
}
@mixin sg-fontsize-9 {
  @include sg-fontsize($sg-fontsize-9, $sg-lineheight-9);
}

// tools
@mixin sg-noGap() {
  font-size: 0;
  line-height: 0;
  word-spacing: -.31em;
}
@mixin sg-reGap($fonsize:$sg-base-fontsize, $lineheight:$sg-base-lineheight) {
  @include sg-fontsize($fonsize, $lineheight);
  word-spacing: 0;
}
@mixin sg-iconfont {
  @include sg-fontsmoothing-grayscale;
  font-family: $sg-icon-font;
}
@mixin sg-icon-before($char:"", $width:auto, $align:left, $valign:-12%) {
  &:before {
    @include sg-iconfont;
    content: "#{$char}";
    display: inline-block;
    width: $width;
    text-align: $align;
    vertical-align: $valign;
  }
}
@mixin sg-icon-after($char:"", $width:auto, $align:right, $valign:-12%) {
  &:after {
    @include sg-iconfont;
    content: "#{$char}";
    display: inline-block;
    width: $width;
    text-align: $align;
    vertical-align: $valign;
  }
}
