@mixin sg-fontsmoothing-grayscale {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
@mixin sg-fontsmoothing-subpixel {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: subpixel-antialiased;
}
@mixin sg-fontface($name, $family, $weight:normal, $style:normal) {
  @font-face {
    font-family: "#{$family}";
    src: url("/fonts/#{$family}-#{$weight}.eot");
    src: local("#{$name}"),
    url("/fonts/#{$family}-#{$weight}.eot?#iefix") format("embedded-opentype"),
    url("/fonts/#{$family}-#{$weight}.woff") format("woff"),
    url("/fonts/#{$family}-#{$weight}.ttf") format("truetype"),
    url("/fonts/#{$family}-#{$weight}.svg##{$family}") format("svg");
    font-weight: $weight;
    font-style: $style;
  }
}
@mixin sg-fontsize($fontsize:$sg-base-fontsize, $lineheight:$sg-base-lineheight) {
  font-size: $fontsize;
  font-size: ($fontsize / 10px) + rem;
  line-height: $lineheight / $fontsize;
}
@mixin sg-fontsize-0 {
  @include sg-fontsize($sg-fontsize-0, $sg-lineheight-0);
}
@mixin sg-fontsize-1 {
  @include sg-fontsize($sg-fontsize-1, $sg-lineheight-1);
}
@mixin sg-fontsize-2 {
  @include sg-fontsize($sg-fontsize-2, $sg-lineheight-2);
}
@mixin sg-fontsize-s2 {
  @include sg-fontsize($sg-fontsize-3, $sg-lineheight-3);
}
@mixin sg-fontsize-3 {
  @include sg-fontsize($sg-fontsize-3, $sg-lineheight-3);
}
@mixin sg-fontsize-4 {
  @include sg-fontsize($sg-fontsize-4, $sg-lineheight-4);
}
@mixin sg-fontsize-5 {
  @include sg-fontsize($sg-fontsize-5, $sg-lineheight-5);
}
@mixin sg-fontsize-6 {
  @include sg-fontsize($sg-fontsize-6, $sg-lineheight-6);
}
@mixin sg-fontsize-7 {
  @include sg-fontsize($sg-fontsize-7, $sg-lineheight-7);
}
@mixin sg-fontsize-8 {
  @include sg-fontsize($sg-fontsize-8, $sg-lineheight-8);
}
@mixin sg-fontsize-9 {
  @include sg-fontsize($sg-fontsize-9, $sg-lineheight-9);
}

@mixin sg-iconfont {
  @include sg-fontsmoothing-grayscale;
  font-family: $sg-icon-font;
}
@mixin sg-icon-before($char:"", $width:auto, $align:left, $valign:-12%) {
  &:before {
    @include sg-iconfont;
    content: "#{$char}";
    display: inline-block;
    width: $width;
    text-align: $align;
    vertical-align: $valign;
  }
}
@mixin sg-icon-after($char:"", $width:auto, $align:right, $valign:-12%) {
  &:after {
    @include sg-iconfont;
    content: "#{$char}";
    display: inline-block;
    width: $width;
    text-align: $align;
    vertical-align: $valign;
  }
}
