// fonts
$sg-base-font: Helvetica Neue, HelveticaNeue, Arial, Helvetica, sans-serif;
$sg-highlight-font: Georgia, Times New Roman, Times, serif;
$sg-icon-font: sg-icons;

$sg-fontsize-0: 0;
$sg-lineheight-0: 0;
$sg-fontsize-1: 70px; // h1
$sg-lineheight-1: 74px;
$sg-fontsize-2: 48px; // h2
$sg-lineheight-2: 52px;
$sg-fontsize-3: 32px; // h3
$sg-lineheight-3: 36px;
$sg-fontsize-4: 24px; // h4
$sg-lineheight-4: 28px;
$sg-fontsize-5: 20px; // h5, mainnav
$sg-lineheight-5: 24px;
$sg-fontsize-6: 16px; // h6
$sg-lineheight-6: 20px;
$sg-fontsize-7: 14px; // h7, big copy, big button
$sg-lineheight-7: 18px;
$sg-fontsize-8: 13px; // small copy, inputs, small button, labels
$sg-lineheight-8: 16px;
$sg-fontsize-9: 12px; // smallprint
$sg-lineheight-9: 14px;
