@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/extends\.scss}line{font-family:\000031}}
.grid {
  font-size: 0;
  line-height: 0;
  word-spacing: -.31em;
  margin: 0 0 0 -30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}
@media screen and (min-width: 1280px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/extends\.scss}line{font-family:\000031}}
  .grid {
    margin-left: -40px;
  }
}
@media screen and (min-width: 1800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/extends\.scss}line{font-family:\000031}}
  .grid {
    margin-left: -50px;
  }
}
@media screen and (max-width: 979px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/extends\.scss}line{font-family:\000031}}
  .grid {
    margin-left: -30px;
  }
}
@media screen and (max-width: 719px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/extends\.scss}line{font-family:\000031}}
  .grid {
    margin-left: -20px;
  }
}
@media screen and (max-width: 479px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/extends\.scss}line{font-family:\000031}}
  .grid {
    margin-left: -10px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/extends\.scss}line{font-family:\0000319}}
.grid-col {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.28571;
  word-spacing: 0;
  padding: 0 0 0 30px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
@media screen and (min-width: 1280px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/extends\.scss}line{font-family:\0000319}}
  .grid-col {
    padding-left: 40px;
  }
}
@media screen and (min-width: 1800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/extends\.scss}line{font-family:\0000319}}
  .grid-col {
    padding-left: 50px;
  }
}
@media screen and (max-width: 979px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/extends\.scss}line{font-family:\0000319}}
  .grid-col {
    padding-left: 30px;
  }
}
@media screen and (max-width: 719px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/extends\.scss}line{font-family:\0000319}}
  .grid-col {
    padding-left: 20px;
  }
}
@media screen and (max-width: 479px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/extends\.scss}line{font-family:\0000319}}
  .grid-col {
    padding-left: 10px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/extends\.scss}line{font-family:\0000338}}
.center-grid {
  text-align: center;
  justify-content: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/extends\.scss}line{font-family:\0000342}}
.right-grid {
  text-align: right;
  justify-content: flex-end;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/extends\.scss}line{font-family:\0000347}}
.top-grid {
  align-items: flex-start;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/extends\.scss}line{font-family:\0000351}}
.middle-grid {
  align-items: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/extends\.scss}line{font-family:\0000354}}
.middle-grid > .grid-col {
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/extends\.scss}line{font-family:\0000358}}
.baseline-grid {
  align-items: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/extends\.scss}line{font-family:\0000361}}
.baseline-grid > .grid-col {
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/extends\.scss}line{font-family:\0000365}}
.bottom-grid {
  align-items: flex-end;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/extends\.scss}line{font-family:\0000368}}
.bottom-grid > .grid-col {
  vertical-align: bottom;
}

@font-face {
  font-family: "sg-icons";
  src: url("/fonts/sg-icons-normal.eot");
  src: local("sg-icons"), url("/fonts/sg-icons-normal.eot?#iefix") format("embedded-opentype"), url("/fonts/sg-icons-normal.woff") format("woff"), url("/fonts/sg-icons-normal.ttf") format("truetype"), url("/fonts/sg-icons-normal.svg#sg-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/basic\.scss}line{font-family:\000031}}
html {
  overflow-y: scroll;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: Helvetica Neue, HelveticaNeue, Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  background: white;
  color: black;
}
@media screen and (max-width: 979px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/basic\.scss}line{font-family:\000031}}
  html {
    font-size: 53.5%;
  }
}
@media screen and (min-width: 1280px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/basic\.scss}line{font-family:\000031}}
  html {
    font-size: 71.5%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/basic\.scss}line{font-family:\0000316}}
html.sg-sample {
  overflow-y: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/basic\.scss}line{font-family:\0000320}}
body {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.28571;
  margin: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/basic\.scss}line{font-family:\0000324}}
h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
  margin: 0 0 18px;
  font-size: inherit;
  line-height: inherit;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/basic\.scss}line{font-family:\0000329}}
a {
  color: #ff4600;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/basic\.scss}line{font-family:\0000333}}
.h1,
.fontsize1 {
  font-size: 70px;
  font-size: 7rem;
  line-height: 1.05714;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/basic\.scss}line{font-family:\0000337}}
.h2,
.fontsize2 {
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 1.08333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/basic\.scss}line{font-family:\0000341}}
.h3,
.fontsize3 {
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 1.125;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/basic\.scss}line{font-family:\0000345}}
.h4,
.fontsize4 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.16667;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/basic\.scss}line{font-family:\0000349}}
.h5,
.fontsize5 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/basic\.scss}line{font-family:\0000353}}
.h6,
.fontsize6 {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.25;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/basic\.scss}line{font-family:\0000357}}
.h7,
.fontsize7 {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.28571;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/basic\.scss}line{font-family:\0000361}}
.fontsize8 {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.23077;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/basic\.scss}line{font-family:\0000364}}
.fontsize9 {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.16667;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/basic\.scss}line{font-family:\0000367}}
.h1, .h2, .h3, .h4 {
  font-family: Georgia, Times New Roman, Times, serif;
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000334}}
.flex-rows {
  display: flex;
  flex-direction: column;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000337}}
.flex-row-auto {
  flex: 1 1 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000340}}
.flex-row-full {
  flex: 999 1 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000343}}
.flex-fill {
  flex-grow: 999;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000347}}
.w-1of1 {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000348}}
.w-1of2 {
  width: 50%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000349}}
.w-1of3 {
  width: 33.33333%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000350}}
.w-1of4 {
  width: 25%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000351}}
.w-3of4 {
  width: 75%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000352}}
.w-1of5 {
  width: 20%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000353}}
.w-2of3 {
  width: 66.66667%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000354}}
.w-2of5 {
  width: 40%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000355}}
.w-3of5 {
  width: 60%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000356}}
.w-4of5 {
  width: 80%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000357}}
.w-1of6 {
  width: 16.66667%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000358}}
.w-5of6 {
  width: 83.33333%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000359}}
.w-1of8 {
  width: 12.5%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000360}}
.w-3of8 {
  width: 37.5%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000361}}
.w-5of8 {
  width: 62.5%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000362}}
.w-7of8 {
  width: 87.5%;
}

@media screen and (min-width: 1280px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000365}}
  .w-1of1-lg {
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000366}}
  .w-1of2-lg {
    width: 50%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000367}}
  .w-1of3-lg {
    width: 33.33333%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000368}}
  .w-1of4-lg {
    width: 25%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000369}}
  .w-3of4-lg {
    width: 75%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000370}}
  .w-1of5-lg {
    width: 20%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000371}}
  .w-2of3-lg {
    width: 66.66667%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000372}}
  .w-2of5-lg {
    width: 40%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000373}}
  .w-3of5-lg {
    width: 60%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000374}}
  .w-4of5-lg {
    width: 80%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000375}}
  .w-1of6-lg {
    width: 16.66667%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000376}}
  .w-5of6-lg {
    width: 83.33333%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000377}}
  .w-1of8-lg {
    width: 12.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000378}}
  .w-3of8-lg {
    width: 37.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000379}}
  .w-5of8-lg {
    width: 62.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000380}}
  .w-7of8-lg {
    width: 87.5%;
  }
}
@media screen and (min-width: 1800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000384}}
  .w-1of1-xl {
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000385}}
  .w-1of2-xl {
    width: 50%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000386}}
  .w-1of3-xl {
    width: 33.33333%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000387}}
  .w-1of4-xl {
    width: 25%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000388}}
  .w-3of4-xl {
    width: 75%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000389}}
  .w-1of5-xl {
    width: 20%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000390}}
  .w-2of3-xl {
    width: 66.66667%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000391}}
  .w-2of5-xl {
    width: 40%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000392}}
  .w-3of5-xl {
    width: 60%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000393}}
  .w-4of5-xl {
    width: 80%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000394}}
  .w-1of6-xl {
    width: 16.66667%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000395}}
  .w-5of6-xl {
    width: 83.33333%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000396}}
  .w-1of8-xl {
    width: 12.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000397}}
  .w-3of8-xl {
    width: 37.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000398}}
  .w-5of8-xl {
    width: 62.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\0000399}}
  .w-7of8-xl {
    width: 87.5%;
  }
}
@media screen and (max-width: 979px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003103}}
  .w-1of1-md {
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003104}}
  .w-1of2-md {
    width: 50%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003105}}
  .w-1of3-md {
    width: 33.33333%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003106}}
  .w-1of4-md {
    width: 25%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003107}}
  .w-3of4-md {
    width: 75%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003108}}
  .w-1of5-md {
    width: 20%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003109}}
  .w-2of3-md {
    width: 66.66667%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003110}}
  .w-2of5-md {
    width: 40%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003111}}
  .w-3of5-md {
    width: 60%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003112}}
  .w-4of5-md {
    width: 80%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003113}}
  .w-1of6-md {
    width: 16.66667%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003114}}
  .w-5of6-md {
    width: 83.33333%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003115}}
  .w-1of8-md {
    width: 12.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003116}}
  .w-3of8-md {
    width: 37.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003117}}
  .w-5of8-md {
    width: 62.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003118}}
  .w-7of8-md {
    width: 87.5%;
  }
}
@media screen and (max-width: 719px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003122}}
  .w-1of1-sm {
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003123}}
  .w-1of2-sm {
    width: 50%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003124}}
  .w-1of3-sm {
    width: 33.33333%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003125}}
  .w-1of4-sm {
    width: 25%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003126}}
  .w-3of4-sm {
    width: 75%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003127}}
  .w-1of5-sm {
    width: 20%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003128}}
  .w-2of3-sm {
    width: 66.66667%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003129}}
  .w-2of5-sm {
    width: 40%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003130}}
  .w-3of5-sm {
    width: 60%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003131}}
  .w-4of5-sm {
    width: 80%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003132}}
  .w-1of6-sm {
    width: 16.66667%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003133}}
  .w-5of6-sm {
    width: 83.33333%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003134}}
  .w-1of8-sm {
    width: 12.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003135}}
  .w-3of8-sm {
    width: 37.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003136}}
  .w-5of8-sm {
    width: 62.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003137}}
  .w-7of8-sm {
    width: 87.5%;
  }
}
@media screen and (max-width: 479px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003141}}
  .w-1of1-xs {
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003142}}
  .w-1of2-xs {
    width: 50%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003143}}
  .w-1of3-xs {
    width: 33.33333%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003144}}
  .w-1of4-xs {
    width: 25%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003145}}
  .w-3of4-xs {
    width: 75%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003146}}
  .w-1of5-xs {
    width: 20%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003147}}
  .w-2of3-xs {
    width: 66.66667%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003148}}
  .w-2of5-xs {
    width: 40%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003149}}
  .w-3of5-xs {
    width: 60%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003150}}
  .w-4of5-xs {
    width: 80%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003151}}
  .w-1of6-xs {
    width: 16.66667%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003152}}
  .w-5of6-xs {
    width: 83.33333%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003153}}
  .w-1of8-xs {
    width: 12.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003154}}
  .w-3of8-xs {
    width: 37.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003155}}
  .w-5of8-xs {
    width: 62.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/veileh\/work\/zz\/s2\/living-styleguide\/app\/styles\/grid\.scss}line{font-family:\00003156}}
  .w-7of8-xs {
    width: 87.5%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/folders\/n7\/2j8xwq3d0454l2js6xs5dw600000gn\/T\/gulp-ruby-sass\/00-global\/01-colors\.scss}line{font-family:\000033}}
.sg-colors {
  font-size: 0;
  line-height: 0;
  word-spacing: -.31em;
  margin: 0 0 0 -20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  list-style: none;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/folders\/n7\/2j8xwq3d0454l2js6xs5dw600000gn\/T\/gulp-ruby-sass\/00-global\/01-colors\.scss}line{font-family:\000037}}
.sg-colors > li {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.28571;
  word-spacing: 0;
  padding: 0 0 0 20px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/folders\/n7\/2j8xwq3d0454l2js6xs5dw600000gn\/T\/gulp-ruby-sass\/00-global\/01-colors\.scss}line{font-family:\0000312}}
.sg-colors > li:before {
  content: "";
  display: block;
  margin: 0 auto 10px;
  width: 80px;
  height: 80px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/folders\/n7\/2j8xwq3d0454l2js6xs5dw600000gn\/T\/gulp-ruby-sass\/00-global\/01-colors\.scss}line{font-family:\0000320}}
.sg-colors > li:after {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.28571;
  display: block;
  font-weight: normal;
  color: #bbbbbb;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/folders\/n7\/2j8xwq3d0454l2js6xs5dw600000gn\/T\/gulp-ruby-sass\/00-global\/01-colors\.scss}line{font-family:\0000328}}
.sg-color-orangered:before {
  background: #ff4600;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/folders\/n7\/2j8xwq3d0454l2js6xs5dw600000gn\/T\/gulp-ruby-sass\/00-global\/01-colors\.scss}line{font-family:\0000329}}
.sg-color-orangered:after {
  content: "#ff4600";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/folders\/n7\/2j8xwq3d0454l2js6xs5dw600000gn\/T\/gulp-ruby-sass\/00-global\/01-colors\.scss}line{font-family:\0000330}}
.sg-color-black:before {
  background: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/folders\/n7\/2j8xwq3d0454l2js6xs5dw600000gn\/T\/gulp-ruby-sass\/00-global\/01-colors\.scss}line{font-family:\0000331}}
.sg-color-black:after {
  content: "black";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/folders\/n7\/2j8xwq3d0454l2js6xs5dw600000gn\/T\/gulp-ruby-sass\/00-global\/01-colors\.scss}line{font-family:\0000332}}
.sg-color-darkgray:before {
  background: #363534;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/folders\/n7\/2j8xwq3d0454l2js6xs5dw600000gn\/T\/gulp-ruby-sass\/00-global\/01-colors\.scss}line{font-family:\0000333}}
.sg-color-darkgray:after {
  content: "#363534";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/folders\/n7\/2j8xwq3d0454l2js6xs5dw600000gn\/T\/gulp-ruby-sass\/00-global\/01-colors\.scss}line{font-family:\0000334}}
.sg-color-gray:before {
  background: #777777;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/folders\/n7\/2j8xwq3d0454l2js6xs5dw600000gn\/T\/gulp-ruby-sass\/00-global\/01-colors\.scss}line{font-family:\0000335}}
.sg-color-gray:after {
  content: "#777777";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/folders\/n7\/2j8xwq3d0454l2js6xs5dw600000gn\/T\/gulp-ruby-sass\/00-global\/01-colors\.scss}line{font-family:\0000336}}
.sg-color-lightgray:before {
  background: #bbbbbb;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/folders\/n7\/2j8xwq3d0454l2js6xs5dw600000gn\/T\/gulp-ruby-sass\/00-global\/01-colors\.scss}line{font-family:\0000337}}
.sg-color-lightgray:after {
  content: "#bbbbbb";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/folders\/n7\/2j8xwq3d0454l2js6xs5dw600000gn\/T\/gulp-ruby-sass\/00-global\/01-colors\.scss}line{font-family:\0000338}}
.sg-color-silver:before {
  background: #eeeeee;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/folders\/n7\/2j8xwq3d0454l2js6xs5dw600000gn\/T\/gulp-ruby-sass\/00-global\/01-colors\.scss}line{font-family:\0000339}}
.sg-color-silver:after {
  content: "#eeeeee";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/folders\/n7\/2j8xwq3d0454l2js6xs5dw600000gn\/T\/gulp-ruby-sass\/00-global\/01-colors\.scss}line{font-family:\0000340}}
.sg-color-white:before {
  background: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/folders\/n7\/2j8xwq3d0454l2js6xs5dw600000gn\/T\/gulp-ruby-sass\/00-global\/01-colors\.scss}line{font-family:\0000341}}
.sg-color-white:after {
  content: "white";
}
